@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

/*
.app,
.app-layers,
.app-surface {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}*/

.app {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}

.app::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 100;
}

.app .app-layers {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.app .app-layers .surface {
  position: absolute;
  background-color: rgb(255, 228, 234);
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.va {
  vertical-align: baseline;
}

.app .app-layers .surface .surface-control {
  height: 48px;
  width: 100%;
  flex-direction: column;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.filler-div {
  width: 100%;
  height: 100%;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between-div {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.space-between-div {
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 24px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.form-group-container {
  background-color: rgb(255, 254, 210);
  width: 60vw;
  height: 70vh;
  border-radius: 20px;
  /*overflow: none;*/
}

.schedule-wrapper {
  /*overflow: none;*/
}

.schedule-container {
  /*overflow: scroll;*/
  position: relative;
}

.title {
  font-size: 42px;
  color: blueviolet;
}

.form-menu-items {
  color: red;
  font-size: 18px;
}

.flex-item {
  flex: 1;
}

.center-helper {
  margin-top: 1.5px;
  margin-left: 4px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tb {
}

.table-container {
  overflow-x: scroll;
  position: relative;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table-container table {
  white-space: nowrap;
}

.tr {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
  height: 40px;
  position: relative;
}

.add-col {
  position: relative;
  z-index: 100;
}

.th-title {
  font-size: 32px;
}

th {
  flex: 1;
  text-align: center;
}

.align-bottom {
  vertical-align: bottom;
}

.tr > td {
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.selector-box {
  min-width: 150px;
  background-color: rgb(205, 155, 211);
}

.left-tab {
  height: 100%;
  width: 3px;
  background-color: brown;
}

.row-title {
  width: 300px;
  min-width: 300px;
}
.owner {
  width: 60px;
  min-width: 60px;
}

.tag-box {
  width: 160px;
  min-width: 160px;
}

td.selector-box,
td.owner,
td.tag-box {
  justify-content: center;
}

.add-icon:hover {
  cursor: pointer;
}

/*Add COlumn Modal*/
.ac-modal div {
  height: 50px;
  width: 100%;
}

.m-div {
  gap: 10px;
  align-items: center;
  font-size: 20px;
  border-radius: 6px;
  padding-left: 10px;
}

.m-div:hover {
  background-color: rgb(205, 155, 211);
}

/*
.m-div .icon-container {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.icon-container img {
  max-width: 30px;
  max-height: 30px;
}

/*CustomIcon sizes*/
.custom-icon-xs {
  max-width: 12px;
  max-height: 12px;
}

.custom-icon-sm {
  max-width: 20px;
  max-height: 20px;
}

.custom-icon-md {
  max-width: 30px;
  max-height: 30px;
}

.custom-icon-lg {
  max-width: 40px;
  max-height: 40px;
}

.help {
  position: absolute;
  z-index: 999;
  top: 24px;
  right: 50px;
}

.forty {
  max-width: 40px;
  max-height: 40px;
}

.pointer {
  pointer-events: none;
}

.md-icon-cont {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
}

.btn:hover,
.btn:focus {
  background-color: lightgray;
}

/*Body below navbar*/
.below-nav {
  top: 48px;
  left: 0;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  display: flex;
  height: unset;
  gap: 10px;
}

.bn-mc-wrapper {
  top: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.bn-mc-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: 0;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  opacity: 1;
  visibility: visible;
  overflow: auto;
}

.bg-comp {
  background-color: #f7ffe4;
}

.line {
  height: 8px;
  font-size: 8px;
  size: 8px;
}

.sb-top-comp {
  border-bottom: 2px solid lightgray;
}

.sb-top-comp,
.sb-bot-comp {
  width: 100%;
  padding-left: 10px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-block: 12px;
}

.btnStyle {
  border: none;
  /*outline: none;*/
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-sb {
  width: 100%;
  height: 36px;
  padding-left: 8px;
}

.bt-t:hover,
.bt-t:focus {
  background-color: lightgray;
}

.searchbox-cont {
  display: flex;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 100%;
  height: 32px;
}
/*Changed above height from 40 -> 32 because we want there to be 12px of 
space between each component.  sb-bot-comp has top padding of 12px. [padding-block: 12px]
+ */

.searchbox {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 400;
  padding-right: 3px;
  padding-left: 6px;
  border: 1.5px solid lightgray;
  width: 100%;
  height: 32px;
}

.input {
  line-height: inherit;
  border: none;
  width: 100%;
  padding-left: 9px;
  padding-right: 2px;
  border-color: transparent;
  background: transparent;
}

.input:focus {
  outline: none;
}

.invert100 > div > img {
  filter: invert(100%);
}

.btn-trans {
  position: relative;
}

.btn-trans:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 20px white;
}
.btn-trans:active {
  top: 1px;
}
.btn-trans:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

/*Main content*/

.header {
  display: flex;
  height: 75px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 12px lightgray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
}

.component-body {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-color: transparent;
}

.main-panel-cont {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-right: 24px;
  width: calc(100% - 300px - 24px);
}

.body-section {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 16px;
  border: 8px;
  box-shadow: 0x 3px 12px lightgray;
  border-radius: 8px;
}

.test-info {
  height: 200px;
  width: 200px;
  background-color: antiquewhite;
}

/*Collapsible body stuff*/
.collapsible-content {
  margin: 24px;
}

.collaps-header {
  display: flex;
  align-items: center;

  height: 24px;
}

.collaps-title {
  font-size: 17px;
  font-weight: 700;
  margin-left: 4px;
  display: inline-block;
  line-height: 20px;
}

.collapse {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.quick-search-cards-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 16px 16px 24px 16px;
  justify-content: center;
  align-items: center;
}

.show-all-btn {
  height: 32px;
  line-height: 24px;
  border-radius: 4px;
  width: 68px;
  padding: 4px 8px 4px 8px;
  font-size: 13px;
}

.uf-container {
  display: flex;
  flex-direction: column;
  visibility: visible;
  border: 1.5px solid lightgray;
  border-radius: 8px;
}

/*Update Feed */
.uf .posts {
}

.post-card-component {
  display: flex;
  padding: 0px 30px;
  height: 72px;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.post-user-name {
  font-weight: 500;
  margin-right: 8px;
}

.post-user-name .text-part {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-content-body {
  flex: 1 1 auto;
  margin-right: 12px;
  overflow: hidden;
}

.p-c-body-text {
  font-weight: 400px;
  text-overflow: unset;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: break-spaces;
  line-height: 18px;
  pointer-events: none;
  cursor: default;
  height: 20px;
}

.line-sep {
  margin-left: 4px;
  margin-right: 4px;
}

.line-sep .line-sep-inner {
  border-bottom: 1.5px solid lightgray;
}

/*workspaces*/
.workspaces-list {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 5fr;
  grid-gap: 20px;
  column-gap: 20px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
